/* Style Overides */
.buttonStyle{
    background-color: #9C00F7 !important;
    color: #ffffff !important;
    border-radius: 25px !important;
}

.buttonStyle:hover {
    background-color: #ffffff!important;
    color: #9C00F7 !important;
    border: 2px #9C00F7 solid!important;
    font-weight: 400;
}

.buttonStyleDelete {
    background-color: #6D757A!important;
    color: #ffffff !important;
    border-radius: 25px !important;
}

.buttonStyleDelete:hover {
    background-color: #ffffff!important;
    color: #6D757A !important;
    border: 2px #6D757A solid!important;
    font-weight: 400;
}

.buttonStyleDeleteAlert {
    border: 2px #9C00F7 solid!important;
    color: #9C00F7 !important;
    background-color: #ffffff !important;
    border-radius: 25px !important;
}

.buttonStyleDeleteAlert:hover {
    border: 2px #ffffff solid!important;
    color: #ffffff !important;
    background-color: #9C00F7 !important;
    font-weight: 400;
}

.modalButton {
    width: 125px !important; 
}

.swal2-title{
    text-align: left !important;
    margin-bottom: 10px;
    border-bottom: 3px solid #E2E2E2 !important;
    padding-bottom: 15px;

}

.swal2-actions{
    display: block !important;
    width: 100% !important;
    text-align: right !important;
    padding: 10px !important;
}

.customFormInput {
    /* display: inline-block; */
    padding: 3px;
    border: 2px solid #CCCCCC;
}

.customFormInput input, select {
    outline: none !important;
    border: none !important;
    display:block;
    line-height: 1.2em;
    font-size: 15pt;
    color: #737373 !important;
    font-weight: 500 !important;
}

.customFormInput label, select {
    display: block;
    font-size: 12px;
    color: #737373;
    font-weight: 700;
}

.customFormInput span {
    color: #ED050F
}

.customFormInput label, select,input:focus {
    box-shadow: none !important;
}

.spacer {
    margin: 15px 0px 15px 0px;
}

.displayColor{
    width: 25%;
    height: 25px;
    border-radius: 3px;
}

.penButton:hover{
    background-color: #A5A8AC !important;
    border-color: #A5A8AC !important;
}

#pagination button{
    border: none
}